# dbt
target/
dbt_modules/
dbt_packages/
.config/.user.yml
/profiles.yml
/.user.yml

.cache
nohup.out
.pytest_cache

# Virtual envs
venv/
.env
.venv
env/

scripts/

# VS Code
.vscode/

# logs
*.log
logs/

# Python cache
__pycache__
.gitsecret/keys/random_seed
load/secrets/**/*.*
!*.secret
