repos:
  - repo: local
    hooks:
      - id: dbt-get-manifest
        name: dbt-get-manifest
        entry: automate/dbt/get_artifacts.sh
        language: script
        types: [python]
        pass_filenames: false
        always_run: true
  - repo: https://github.com/datacoves/pre-commit-dbt
    rev: 641b4bdd46536bf3d5390e94af672602d3937694
    hooks:
      - id: dbt-compile
        files: ^transform/models/
        args:
          [
            "--models",
            "state:modified+",
            "--cmd-flags",
            "++project+dir",
            "transform",
            "++state",
            "logs",
            "--",
          ]
      - id: dbt-docs-generate
        files: ^transform/models/
        args: ["--cmd-flags", "++project+dir", "transform", "++no+compile"]
      - id: check-source-table-has-description
        files: ^transform/models/
      - id: check-script-semicolon
        files: ^transform/models/
      - id: check-script-has-no-table-name
        files: ^transform/models/
      - id: check-script-ref-and-source
        files: ^transform/models/
        args: ["--manifest", "transform/target/manifest.json"]
      - id: check-model-has-description
        args: ["--manifest", "transform/target/manifest.json"]
        files: ^transform/models/
      - id: check-model-has-properties-file
        args: ["--manifest", "transform/target/manifest.json"]
        files: ^transform/models/

      # This does not work with deferral because dbt docs generate does not include models that dont exist in current db
      # - id: check-model-has-all-columns
      #   args: ["--manifest", "transform/target/manifest.json", "--catalog", "transform/target/catalog.json"]
      #   files: ^transform/models/
