files: ^transform/models/

repos:
  - repo: https://github.com/dbt-checkpoint/dbt-checkpoint
    rev: v2.0.5

    hooks:
      - id: check-source-table-has-description
      - id: check-script-semicolon
      - id: check-script-has-no-table-name
      - id: check-script-ref-and-source
      - id: check-model-has-description
      - id: check-model-has-properties-file
      - id: check-model-has-all-columns
      - id: check-database-casing-consistency
        always_run: true

  - repo: https://github.com/sqlfluff/sqlfluff
    # this is the version of sqlfluff, needs to be updated when using a new sqlfluff version (pip show sqlfluff)
    rev: 3.1.1
    hooks:
      - id: sqlfluff-lint
        language: python
        # Need these two dependencies.
        #   sqlfluff-templater-dbt should match the version of sqlfluff above in rev (pip show sqlfluff-templater-dbt)
        #   dbt-snowflake needs to match the version in transform tab of Datacoves (pip show dbt-snowflake)
        additional_dependencies:
          [
            "sqlfluff-templater-dbt==3.1.1",
            "dbt-core==1.8.7",
            "dbt-snowflake==1.8.4",
          ]
        args: [--config, transform/.sqlfluff]

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint]
        exclude: ^transform/.dbt_coves/templates
