repos:
  - repo: local
    hooks:
      - id: dbt-get-manifest
        name: dbt-get-manifest
        entry: automate/dbt/get_artifacts.sh
        language: script
        types: [python]
        pass_filenames: false
        always_run: true

  # Original Repo
  # - repo: https://github.com/offbi/pre-commit-dbt
  #   rev: v1.0.0

  # Forked the original repo to support ephemeral models
  - repo: https://github.com/datacoves/pre-commit-dbt
    rev: 4787d5ac203be1c53dfad1faedcb06c29b89448a

    hooks:
      # - id: dbt-compile
      #   files: ^transform/models/
      #   args:
      #     [
      #       "--models",
      #       "state:modified+",
      #       "--cmd-flags",
      #       "++project+dir",
      #       "transform",
      #       "++state",
      #       "logs",
      #       "--"
      #     ]
      - id: dbt-docs-generate
        files: ^transform/models/
        args: ["--cmd-flags", "++project+dir", "transform", "++no+compile"]
      - id: check-source-table-has-description
        files: ^transform/models/
      - id: check-script-semicolon
        files: ^transform/models/
      - id: check-script-has-no-table-name
        files: ^transform/models/
      - id: check-script-ref-and-source
        files: ^transform/models/
        args: ["--manifest", "transform/target/manifest.json"]
      - id: check-model-has-description
        files: ^transform/models/
        args: ["--manifest", "transform/target/manifest.json"]
      - id: check-model-has-properties-file
        files: ^transform/models/
        args: ["--manifest", "transform/target/manifest.json"]

      # This does not work with deferral because dbt docs generate does not include models that dont exist in current db
      - id: check-model-has-all-columns
        args:
          [
            "--manifest",
            "transform/target/manifest.json",
            "--catalog",
            "transform/target/catalog.json",
          ]
        files: ^transform/models/

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 0.11.2
    hooks:
      - id: sqlfluff-lint
        language: python
        additional_dependencies:
          ["sqlfluff-templater-dbt==1.0.0", "dbt-core", "dbt-snowflake"]
        args: [--config, transform/.sqlfluff]
