# put your secret values and credentials here.
# do not share this file and do not push it to github
# it should be renamed and should be in .gitignore

[sources.sql_database.credentials]
drivername = "mysql+pymysql" # can be any sqlalchemy driver
host = "<host url>"
port = 3306
database = "<database name>"
username = "<username>"
password = "<password>"


[destination.snowflake.credentials]
account = "<snowflake account>"
database = "<raw database>"
role = "<role name>"
warehouse = "<warehouse name>"
username = "<username>"
password = "<password>"
