# put your secret values and credentials here.
# do not share this file and do not push it to github
# it should be renamed and should be in .gitignore

[destination.snowflake.credentials]
account = "<snowflake account>"
database = "<raw database>"
role = "<role name>"
warehouse = "<warehouse name>"
user = "<username>"
password = "<password>"
