apache-airflow==3.3.1
apache-airflow-providers-snowflake==6.16.1
acryl-datahub-airflow-plugin==1.7.0.10
airflow-provider-fivetran-async==2.4.0
apache-airflow-providers-airbyte==6.0.1
apache-airflow-providers-microsoft-azure==15.0.1
apache-airflow-providers-amazon==9.35.1
apache-airflow-providers-celery==3.23.1
apache-airflow-providers-cncf-kubernetes==10.21.1
apache-airflow-providers-common-io==1.8.0
apache-airflow-providers-common-sql>=2.1.1
apache-airflow-providers-databricks==7.19.0
apache-airflow-providers-dbt-cloud==4.9.3
apache-airflow-providers-docker==4.5.9
apache-airflow-providers-elasticsearch==6.9.0
apache-airflow-providers-ftp==3.15.2
apache-airflow-providers-google==22.4.0
apache-airflow-providers-grpc==3.9.5
apache-airflow-providers-hashicorp==4.8.1
apache-airflow-providers-http==6.0.5
apache-airflow-providers-imap==3.12.1
# apache-airflow-providers-mysql==6.4.2
apache-airflow-providers-odbc==4.12.3
apache-airflow-providers-oracle==4.6.3
apache-airflow-providers-postgres==7.0.2
apache-airflow-providers-redis==4.5.0
apache-airflow-providers-sendgrid==4.2.4
apache-airflow-providers-sftp==6.0.1
apache-airflow-providers-slack==9.10.2
apache-airflow-providers-smtp==3.0.3
apache-airflow-providers-sqlite==4.3.3
apache-airflow-providers-ssh==6.0.1
apache-airflow-providers-standard==1.18.0
apache-airflow-providers-tableau==5.6.1
packaging>=23.2
python-jose>=3.4.0
pyyaml>=6.0
pytest==9.1.1
python-dotenv
uv
