apache-airflow==2.10.3
apache-airflow-providers-snowflake==5.3.1
acryl-datahub-airflow-plugin[plugin-v2]==0.14.1.9
airflow-provider-fivetran-async==2.0.2
apache-airflow-providers-airbyte==3.6.0
apache-airflow-providers-microsoft-azure==9.0.1
apache-airflow-providers-amazon==8.19.0
apache-airflow-providers-celery==3.6.1
apache-airflow-providers-cncf-kubernetes==9.0.0
apache-airflow-providers-common-io==1.3.0
apache-airflow-providers-common-sql==1.11.1
apache-airflow-providers-databricks==6.2.0
apache-airflow-providers-dbt-cloud==3.11.0
apache-airflow-providers-docker==3.9.2
apache-airflow-providers-elasticsearch==5.3.3
apache-airflow-providers-ftp==3.7.0
apache-airflow-providers-google==10.16.0
apache-airflow-providers-grpc==3.4.1
apache-airflow-providers-hashicorp==3.6.4
apache-airflow-providers-http==4.10.0
apache-airflow-providers-imap==3.5.0
# apache-airflow-providers-mysql==5.5.4
apache-airflow-providers-odbc==4.4.1
apache-airflow-providers-oracle==3.9.2
apache-airflow-providers-postgres==5.10.2
apache-airflow-providers-redis==3.6.0
apache-airflow-providers-sendgrid==3.4.0
apache-airflow-providers-sftp==4.9.0
apache-airflow-providers-slack==8.6.1
apache-airflow-providers-smtp==1.6.1
apache-airflow-providers-sqlite==3.7.1
apache-airflow-providers-ssh==3.10.1
apache-airflow-providers-tableau==4.4.2
packaging>=23.2
python-jose==3.3.0
pyyaml>=6.0
