# put your secret values and credentials here.
# do not share this file and do not push it to github
# rename without .sample and put in the ~/.streamlit/ folder (create it if it doesnt exist)

# this is needed for the llm examples
# Get an OpenAI API key at https://platform.openai.com/account/api-keys
openai_api_key = "<openai_api_key>"
