name: Test and Check on Pull Request

on:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Pull Request Integration Tests
    runs-on: ubuntu-latest

    env:
      DBT_USER: ${{ secrets.DBT_USER }}
      DBT_PASSWORD: ${{ secrets.DBT_PASSWORD }}
      DBT_DATABASE: BALBOA_PR_${{ github.event.number }}
      DBT_PROFILES_DIR: /github/workspace/automate
      DBT_HOME: /github/workspace/transform
      DBT_SNOWFLAKE_ACCOUNT: ${{ secrets.DBT_SNOWFLAKE_ACCOUNT }}
      DBT_SNOWFLAKE_ROLE: ${{ secrets.DBT_SNOWFLAKE_ROLE }}
      DBT_SNOWFLAKE_WAREHOUSE: ${{ secrets.DBT_SNOWFLAKE_WAREHOUSE }}
      DATACOVES__REPO_PATH: /github/workspace
      DATACOVES__YAML_DAGS_FOLDER: /github/workspace/schedule
      AIRBYTE__EXTRACT_LOCATION: /github/workspace/load
      AIRFLOW__CORE__DAGS_FOLDER: /github/workspace/automate/airflow/dags
      TEST_MODE: "True"

    steps:
      - name: Checkout branch
        uses: actions/checkout@v2

      - name: Install dbt packages
        uses: datacoves/dbt-coves-action@v1.1
        with:
          dbt_project_folder: "transform"
          command: "dbt deps"

      - name: Create PR database
        uses: datacoves/dbt-coves-action@v1.1
        with:
          dbt_project_folder: "transform"
          command: "dbt --no-write-json run-operation create_database"

      - name: Run governance checks
        uses: datacoves/dbt-coves-action@v1.1
        with:
          dbt_project_folder: "transform"
          command: "dbt-coves check --no-fix"

      # dont need to get productin manifest if dbt-coves check is run before
      - name: Run dbt build
        uses: datacoves/dbt-coves-action@v1.1
        with:
          dbt_project_folder: "transform"
          command: "dbt build --fail-fast --defer --state logs --select state:modified+"

      - name: Grant access to PR database
        uses: datacoves/dbt-coves-action@v1.1
        with:
          dbt_project_folder: "transform"
          command: "dbt --no-write-json run-operation grant_access_to_pr_database"

      - name: Init Airflow DB
        uses: datacoves/ci-airflow-action@v0.4.0
        with:
          command: "airflow db init"

      - name: ls /home/airflow/load
        run: ls /home/airflow/load

      - name: Create Airflow-Airbyte connection
        uses: datacoves/ci-airflow-action@v0.4.0
        with:
          command: "airflow connections add --conn-host localhost --conn-port 8001 --conn-type airbyte airbyte_connection"

      - name: Load DAGs Bag
        uses: datacoves/ci-airflow-action@v0.4.0
        with:
          command: "python /usr/app/load_dagbag.py"

      - name: Test Airflow DAGs
        uses: datacoves/ci-airflow-action@v0.4.0
        with:
          dbt_project_folder: "transform"
          command: "python /usr/app/test_dags.py"
