name: Test and Check on Pull Request

on:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Pull Request Integration Tests
    runs-on: ubuntu-latest

    env:
      DBT_USER: ${{ secrets.DBT_USER }}
      DBT_PASSWORD: ${{ secrets.DBT_PASSWORD }}
      DBT_DATABASE: BALBOA_PR_${{ github.event.number }}
      DBT_PROFILES_DIR: /github/workspace/automate/dbt
      DBT_HOME: /github/workspace/transform
      DBT_SNOWFLAKE_ACCOUNT: ${{ secrets.DBT_SNOWFLAKE_ACCOUNT }}
      DBT_SNOWFLAKE_ROLE: ${{ secrets.DBT_SNOWFLAKE_ROLE }}
      DBT_SNOWFLAKE_WAREHOUSE: ${{ secrets.DBT_SNOWFLAKE_WAREHOUSE }}
      DATACOVES__REPO_PATH: /github/workspace
      DATACOVES__YAML_DAGS_FOLDER: /github/workspace/schedule
      AIRBYTE__EXTRACT_LOCATION: /github/workspace/load
      AIRFLOW__CORE__DAGS_FOLDER: /github/workspace/automate/airflow/dags
      AIRFLOW__CORE__DAGBAG_IMPORT_TIMEOUT: 300

    steps:
      - name: Checkout branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
          ref: ${{ github.event.pull_request.head.sha }}

      - name: List of files changed
        uses: datacoves/ci-basic-action@v0.5.202207291945
        with:
          command: "git diff HEAD^ HEAD --name-status"

      - name: Install dbt packages
        uses: datacoves/ci-basic-action@v0.5.202207291945
        with:
          dbt_project_folder: "transform"
          command: "dbt deps"

      - name: Create PR database
        uses: datacoves/ci-basic-action@v0.5.202207291945
        with:
          dbt_project_folder: "transform"
          command: "dbt --no-write-json run-operation create_database"

      - name: Get prod manifest
        id: prod-manifest
        uses: datacoves/ci-basic-action@v0.5.202207291945                       
        with:
          dbt_project_folder: "transform"
          command: "../automate/dbt/get_artifacts.sh"

      - name: Run dbt build slim mode
        if: ${{ steps.prod-manifest.outputs.manifest_found == 'true' }}
        uses: datacoves/ci-basic-action@v0.5.202207291945
        with:
          dbt_project_folder: "transform"
          command: "dbt build --fail-fast --defer --state logs --select @state:modified"
      
      - name: Run dbt build full run
        if: ${{ steps.prod-manifest.outputs.manifest_found == 'false' }}
        uses: datacoves/ci-basic-action@v0.5.202207291945
        with:
          dbt_project_folder: "transform"
          command: "dbt build --fail-fast"

      - name: Grant access to PR database
        uses: datacoves/ci-basic-action@v0.5.202207291945
        with:
          dbt_project_folder: "transform"
          command: "dbt --no-write-json run-operation grant_access_to_pr_database"

      - name: Run governance checks
        uses: datacoves/ci-basic-action@v0.5.202207291945
        with:
          dbt_project_folder: "transform"
          command: "pre-commit run --from-ref HEAD^ --to-ref HEAD"

      - name: Test DAG structure integrity (DagBag Loading)
        uses: datacoves/ci-airflow-action@v0.5.202206221457
        with:
          command: "python /usr/app/load_dagbag.py"

      - name: Test DBT Sources against DAGs' YAML files
        uses: datacoves/ci-airflow-action@v0.5.202206221457
        with:
          dbt_project_folder: "transform"
          command: "python /usr/app/test_dags.py"
