# put your secret values and credentials here.
# do not share this file and do not push it to github
# rename without .sample and put in the ~/.snowsql/ folder (create it if it doesnt exist)

[connections]
authenticator = "SNOWFLAKE_JWT"
account = <snowflake account>
warehouse = <snowflake warehouse>
role = <snowflake role>
database = <snowflake database>
schema = <snowflake schema>
user = <snowflake user>
private_key_file = <path to private key>
